<p id="notice"><%= notice %></p>

<h1>Giraffes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giraffes.each do |giraffe| %>
      <tr>
        <td><%= link_to 'Show', giraffe %></td>
        <td><%= link_to 'Edit', edit_giraffe_path(giraffe) %></td>
        <td><%= link_to 'Destroy', giraffe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giraffe', new_giraffe_path %>
